body {
    background-color: rgb(54,78,163);
}

#rectangle_top {
    margin-left: 0px;
    margin-top: 2%;
    width: 100%;
    height: 180px;
    border-radius: 30px;
    background-color: rgba(162, 242, 220, 1);
    text-align: center;
}

#login {
    color: black;
    margin-left: 90%;
}

#rectangle_nav {
    margin-left: 0px;
    margin-top: 2%;
    width: 100%;
    height: 50px;
    border-radius: 60px;
    background-color: rgba(33, 191, 133, 1);
}

#rectangle_nav2 {
    margin-left: 0px;
    margin-top: 2%;
    width: 100%;
    height: 50px;
    border-radius: 60px;
    background-color: rgba(33, 191, 133, 1);
}


nav a {
    font-size: large;
    margin: 50px;
    color: black;
    display: inline;
    margin-top: 50px;
}




#rectangle1 {
    margin-left: 0px;
    margin-top: 12%;
    width: 100%;
    height: 280px;
    background-color: rgb(219, 219, 219);
}

#rectangle2 {
    margin-left: 0px;
    margin-top: 20%;
    width: 100%;
    height: 280px;
    background-color: rgb(219, 219, 219);
}



#rectangle3 {
    margin-left: 4%;
    margin-top: 1%;
    width: 91%;
    height: 90%;
    border-radius: 20px;
    background-color: rgb(219, 219, 219);
}

.titulo {
    text-align: center;
    color: black;
    font-size: 40px;
}

h2 {
    font-size: 35px;
    margin-left: 2%;
}

h3 {
    margin-top: 3%;
    font-size: 30px;
    font-weight: 100;
    margin-left: 2%;
}


.button {
    border: none;
    border-radius: 30px;
    width: 400px;
    height: 50px;
    background-color: rgba(17, 83, 140, 1);
    color: white;
    font-size: 20px;
}

.button:hover {
    background-color: rgb(18, 53, 84);
}

.center {
    position: relative;
    text-align: center;
    margin-top: 6%;
}




#rectangle4 {
    margin-left: 8%;
    margin-top: 4%;
    width: 80%;
    height: 500px;
    border-radius: 10px;
    background-color: rgba(94, 94, 94, 1);
}

input {
    margin: 10px;
    width: 400px;
    height: 40px;
    border-radius: 10px;
}

input:focus {
    background-color: rgb(212, 212, 212);
}

.registration_info {
    font-size: 25px;
    color: azure;
    width: 380px;
    background-color: rgb(44, 41, 41);
}




/* Parte 4 do cadastro */

#rectangle5 {
    margin-left: 8%;
    margin-top: 4%;
    width: 80%;
    height: 500px;
    border-radius: 10px;
    background-color: rgba(94, 94, 94, 1);
}

#rectangle6 {
    margin-left: 8%;
    margin-top: 4%;
    width: 80%;
    height: 500px;
    border-radius: 10px;
    background-color: rgba(94, 94, 94, 1);
}

#rectangle7 {
    margin-left: 8%;
    margin-top: 4%;
    width: 80%;
    height: 500px;
    border-radius: 10px;
    background-color: rgba(94, 94, 94, 1);
}

#rectangle8 {
    margin-left: 8%;
    margin-top: 4%;
    width: 80%;
    height: 500px;
    border-radius: 10px;
    background-color: rgba(94, 94, 94, 1);
}

#rectangle9 {
    margin-left: 8%;
    margin-top: 4%;
    width: 80%;
    height: 500px;
    border-radius: 10px;
    background-color: rgba(94, 94, 94, 1);
}

#description1 {
    margin-left: 8%;
    width: 80%;
    resize: none;
}




#rectangle_registration_completed {
    background-color: white;
}

#img_registration_completed {
    margin-top: 8%;
    margin-left: 15%;
    
}

#txt_registration_completed {
    text-align: right;
    position: relative;
    font-size: 30px;
    display: inline-block;
    vertical-align: top;
    margin-top: 18%;
    margin-left: 2%;
}













/* Login */

#rectangle10 {
    margin-left: 35%;
    margin-top: 3%;
    width: 30%;
    height: 800px;
    border-radius: 10px;
    background-color: rgba(217, 217, 217, 1);
}

#login_title {
    margin-left: 42%;
}

.login_button {
    width: 400px;
    height: 40px;
    border-radius: 30px;
    border: 2px solid black;
    margin: 2%;
    background-color: rgb(100, 98, 98);
    color: white;
}

.login_button:hover {
    background-color: rgb(53, 82, 163);
    cursor: pointer;
    transition: all 0.5s;
}

#login_button {
    margin-left: 15%;
    margin-top: 40%;
}

/* parte das empresas*/
#rectangle10 input{
    background-color:rgb(100, 98, 98) ;
    color: white;
    align-items: center;
    align-content: center;
}

#fundo_emailsenha {
    box-sizing: border-box;
    align-items: center;
    align-content: center;
    display: block;
    margin-left: 13%;
    margin-top: 50%;
}

#fundo_emailsenha p{
    text-align: right;
    margin-right: 85px;
    text-decoration: underline;
}

/*tela inicial das empresas */
#rectangle_nave .navegacao{
    justify-content: space-between;
    padding: 10px;
    border-radius: 60px;
    height: 40px;
    background-color: rgba(33, 191, 133, 1);
}

.containera {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
/* parte do perfil da empresa */
.projeto-info {
    flex:none;
    height: 430px;
    width: 300px;
    padding: 20px;
    background-color: #090c38;
    text-align: center;
    margin-right: 0px;
    color: white;
    border: 3px solid black;
    border-radius: 20px;
}

.projeto-info img{
    background-color: gray;
    border-radius: 50%;
}
.projeto-info p {
    background-color: grey;
    border-radius: 30px;
    height: 200px;
    padding-top: 15px;
    padding-left: 10px;
}

.projeto-info h3 {
    margin-bottom: 10px;
    font-size:larger;
}

.projeto-info p {
    text-align: left;
}

.projeto-info button {
    margin-top: 10px;
}
/* parte do meio / feed */
#rectangl3 {
    margin-left: 2%;
    margin-top: 0px;
    width: 91%;
    height: 90%;
    border-radius: 30px;
    background-color:gray;
}

#rectangl3 #rectangl5{
    margin-bottom: 30px;

}

#rectangl5 {
    margin-left: 30px;
    margin-top: 20px;
    width: 80%;
    height: 230px;
    border-radius: 30px;
    background-color: rgb(219, 219, 219);
    padding: 10px;
}

h90 {
    margin-top: 3%;
    font-size: 30px;
    font-weight: 100;
    margin-left: 2%;
}

h111 {
    margin-left: 60px;
    display: block;
    margin-top: 30px;
    font-size: x-large;
}

.att {
    font-size: 25px;
    color: black;
    width: 30px;
}

/* parte da direita de pesquisa e nova publicacao */

.direitaaa {
    margin-top: 30px;
}

.barrapesquisa{
    align-items: center;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    margin-bottom: 30px;
    margin-left: 10px;
}

#publicacao {
    justify-content: center;
    display: flex;
    height: 50px;
}
#publicacao button {
    width:80%;
}





/* Parte dos administradores */

#perfil_adm {
    margin-left: 20px;
    margin-top: 50px;
    width: 20%;
    height: 500px;
    border-radius: 10px;
    background-color: rgba(28, 32, 71, 1);
}

#inicio_adm {
    margin-left: 200px;
    margin-top: 50px;
    width: 40%;
    height: 900px;
    border-radius: 10px;
    background-color: rgb(47, 57, 70);
}

.container {
    display: flex;
}


#pg_inicial {
    color: white;
    margin-left: 20px;
}

#ola_adm {
    margin-left: 30px;
    margin-top: 50px;
    width: 90%;
    height: 70px;
    border-radius: 10px;
    background-color: rgb(197, 201, 207);
}

#inicio_adm h3 {
    margin-left: 20px;
}

.btn_inicio {
    margin-left: 18%;
    margin-top: 15%;
    width: 180px;
    height: 70px;
    border-radius: 20px;
    background-color: rgba(33, 191, 133, 1);
}

#projeto_pendente1 {
    margin-left: 30px;
    margin-top: 50px;
    width: 90%;
    height: 300px;
    border-radius: 10px;
    background-color: rgb(197, 201, 207);
}
#projeto_pendente2 {
    margin-left: 30px;
    margin-top: 50px;
    width: 90%;
    height: 300px;
    border-radius: 10px;
    background-color: rgb(197, 201, 207);
}
#projeto_pendente3 {
    margin-left: 30px;
    margin-top: 50px;
    width: 90%;
    height: 300px;
    border-radius: 10px;
    background-color: rgb(197, 201, 207);
}
#projeto_pendente4 {
    margin-left: 30px;
    margin-top: 50px;
    width: 90%;
    height: 300px;
    border-radius: 10px;
    background-color: rgb(197, 201, 207);
}

h5 {
    margin-left: 20px;
}

#scroll_projetos {
    height: 800px;
    overflow-y: auto;
}